@import './utils/variables';
@import './components/global';
@import './layouts/container';
@import './components/logo';
@import './layouts/menu-button';
@import './layouts/header';
@import './layouts/navigation';
@import './components/hero';
@import './components/button';
@import './layouts/modal';
@import './layouts/form';
@import './components/section-features';
@import './components/section-projects';
@import './components/section-team';
@import './components/section-clients';
@import './components/social-links';
@import './layouts/footer';