html {
	width: 100%;
    max-width: 100%;
	overflow-x: hidden;
}
body {
	color: $primary-text-color;
	background-color: $primary-white-color;

	font-family: $main-ff;
  	font-size: $main-fz;
  	line-height: $main-lh;
	letter-spacing: $main-lsp;
	  
	width: 100%;
    max-width: 100%;
        overflow-x: hidden;
   

	   	
	& .modal-open {
  overflow: hidden;
}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// ul
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

// a
.logo,
.link,
.social__link,
.portfolio-image {
	text-decoration: none;
	font-style: normal;
}

.icon {
	margin: 0;
	padding: 0;
	fill: currentColor;
}

.title {
	font-weight: $bold-fw;

	color: $title-text-color;

	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}



.main-nav,
.site-nav,
.contact,
.header__container {
	display: flex;
	align-items: center;
}


.site-nav__link,
.contact__link {
	font-weight: $mid-fw;
	line-height: $cont-lh;
	letter-spacing: $cont-lsp;

	@media screen and (min-width: 1200px) {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	}
}


@media screen and (min-width: 1200px) {
.item {
	width: calc((100% - 3 * 30px) / 4);
}

.item:nth-child(4n) {
	margin-right: 0;
}

.item:not(:last-child) {
	margin-right: 30px;
}

.section__title {
	font-size: 36px;
	line-height: $main-lh;
	text-align: center;
	margin-bottom: 50px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
}

.header,
.section,
.hero,
.footer {
	margin: 0;
}

.flexbox {
	display: flex;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.list--just-btw {
	justify-content: space-between;
}
