.logo {
	display: block;
	font-family: $logo-ff;
	font-weight: $bold-fw;
	font-size: 24px;
	line-height: $main-lh;

	transition: font-size $transition-duration $transition-timing-function;

	color: $logo-black-color;

	&:hover,
	&:focus {
	font-size: 26px;
}

@media screen and (min-width: 1200px) {
	font-size: $logo-fz;
	line-height: $logo-lh;
	&:hover,
	&:focus {
	font-size: 36px;}
}
}

.logo--accent {
	color: $accent-color;
}

.footer__logo {
	color: $primary-white-color;
	margin-bottom: 20px;
	margin-top: 0;

	text-align: center;
	
}


