//  Portfolio Section
.filter__list {
	padding-top: 60px;
	margin-bottom: 34px;

	
}

.filter__list--center {
	justify-content: center;
	align-items: center;
}

.filter__item .button:hover {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
	margin-right: 8px;
}

.portfolio {
display: flex;
flex-direction: column;

}

.portfolio__item {
	@media screen and (max-width: 767px) {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 30px;}

		@media screen and (min-width: 768px) {
		width: calc ((100% - 1 * 30px) / 2);

		&:nth-child(odd){
		margin-right: 30px;}}
	}

.portfolio__item {

	@media screen and (min-width: 1200px) {
	margin-right: 30px;
	margin-bottom: 30px;
	width: calc((100% - 2 * 30px) / 3);}

	border: 1px solid $border-item;

	transition: $transition-duration $transition-timing-function;
}

.portfolio__item img {
	width: 100%;
}

.portfolio__item:nth-child(3n) {
	margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.portfolio__title {
	font-size: $overlay-fz;
	line-height: 2;
	letter-spacing: $hero-lsp;

	margin-bottom: 4px;
}

.item__name {
	font-size: $btn-fz;
	line-height: $btn-pr-lh;

	margin-top: 0;
	margin-bottom: 0;

	color: $primary-text-color;
}

.portfolio-image {
	display: block;
	transition: box-shadow $transition-duration $transition-timing-function;
	
	&:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
}

.portfolio__thumb {
	position: relative;
	overflow: hidden;
}

.product-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform: translateY(100%);
	transition: transform $transition-duration $transition-timing-function;

	background: rgba(33, 150, 243, 0.9);

	.portfolio__item:hover &,
	.portfolio__item:focus & {
	transform: translateY(0%);
}
}

.overlay {
	margin: 0;
	position: absolute;
	padding-top: 63px;
	padding-right: 23px;
	padding-bottom: 63px;
	padding-left: 23px;

	font-family: $main-ff;
	font-size: $overlay-fz;
	line-height: $overlay-lh;

	color: $primary-white-color;
}