//  Наши проекты
.item__projects {
	position: relative;

	width: calc((100% - 2 * 30px) / 3);
}

.item__projects:nth-child(3n) {
	margin-right: 0;
}

.item__projects img {
	width: 100%;
}

.image__projects {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(47, 48, 58, 0.8);
}

.image__title {
	margin: 0;

	font-family: $main-ff;
	font-size: $main-fz;
	font-weight: $bold-fw;
	line-height: $main-lh;
	letter-spacing: $main-lsp;
	text-transform: uppercase;

	color: $primary-white-color;
}
