// Section Features
.container__features {
	padding: 60px 15px;

	@media screen and (min-width: 1200px){
padding-bottom: 0;
padding-top: 94px;
height: auto;
	}
	
}

.container__features .list {
	margin: 0;
	width: 100%;

	@media screen and (min-width: 768px){
	display: flex;
flex-wrap: wrap;}


			
	
}
.container__features .item:not(:last-child) {
	margin-bottom: 30px;
	
}

.container__features .item {
@media screen and (min-width: 768px){
	width: calc((100% - 1 * 30px) / 2);
	&:nth-child(odd) {margin-right: 30px;
	}
	}

@media screen and (min-width: 1200px) {
			display: flex;
			flex-direction: column;
			align-items: center;

	width: calc((100% - 3 * 30px) / 4);}
			
}
	
	

.thumb {
	margin-top: 0;
	margin-bottom: 30px;
	
	display: flex;
	margin-bottom: 30px;
	margin-top: 0;
	height: 120px;
	width: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	justify-content: center;

	background-color: $secondary-bg-color;



}

.thumb__icon {
	width: 70px;
	height: 70px;
}

.title__features {
	font-size: $main-fz;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: 10px;
	
	@media screen and (max-width: 767px) {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		
		margin-right: auto;
	}


}

.text__features {
	
	display: flex;
	margin: 0;
}
