    $primary-text-color: #757575;
    $title-text-color: #212121;
    $logo-black-color: #000000;
    $accent-color: #2196F3;
    $primary-white-color: #FFFFFF;
    $black-background-color: #2F303A;
    $secondary-bg-color: #F5F4FA;
    $address-link: rgba(255, 255, 255, 0.6);
    $header-border:  #ECECEC;
    $border-item: #EEEEEE;
    $overlay-bg-color: #C4C4C4;
    $social-list-color: #AFB1B8;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    $transition-duration: 250ms;
    
    // Fonts
    $main-ff: Roboto, sans-serif;
    $logo-ff: Raleway, sans-serif;
    $main-fz: 14px;
    $btn-fz: 16px;
    $overlay-fz: 18px;
    $form-subs-fz: 20px;
    $logo-fz: 26px;
    $title-fz: 28px;
    $title-2-fz: 36px;
    $hero-fz: 44px;
    $main-fw: 400;
    $mid-fw: 500;
    $bold-fw: 700; 
    $hero-fw: 900;
    $main-lsp: 0.03em;
    $hero-lsp: 0.06em;
    $cont-lsp: 0.02em;
    $main-lh: 1.17;    
    $logo-lh: 1.2;
    $cont-lh: 1.14;
    $hero-lh: 1.36;
    $btn-pr-lh: 1.88;
    $btn-lh: 1.36;
    $add-lh: 1.7;
    $btn-2-lh: 1.6;
    $overlay-lh: 1.55;