// Portfolio
.content {
	padding: 20px 24px;
	text-align: center;
}

// Footer
.container__about-us {
	margin-right: 70px;
	width: 231px;
}

.footer__container {
	display: flex;
	align-items: baseline;
	}
