.footer {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 60px;
	padding-bottom: 60px;
	font-style: normal;
	background-color: $black-background-color;}

	.footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		justify-content: space-evenly;
		text-align: baseline;
		align-items: center;
	}
	}

	
.container__about-us,
.general__links {
	margin-bottom: 60px;
	text-align: center;
	justify-content: space-evenly;
	margin-right: auto;
	margin-left: auto;}

.container__about-us {
	@media screen and (min-width: 768px) {
	justify-content: space-evenly;
		margin-right: 165px;
	}
@media screen and (min-width: 1200px) {
		margin-right: 70px;}
}

	.general__links {
		@media screen and (min-width: 1200px) {
			margin-right: 92px;
		}
	}



.main-footer {
	text-align: baseline;
	
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;	
	}}


.footer .contact__link {
	justify-content: center;
	margin-right: center;
	margin-left: center;
}

.address__item {
	align-items: center;
	// justify-content: center;
	// margin-right: center;
	// margin-left: center;

	font-family: $main-ff;
	font-style: normal;
	font-size: $main-fz;
	font-weight: $main-fw;
	line-height: $add-lh;
	letter-spacing: $main-lsp;
	color: $primary-white-color;
	margin-top: 0;
	margin-bottom: 9px;
}

.address__item:last-child {
	margin-bottom: 0;
}

.newsletter {
	display: block;
	text-align:center;

	line-height: $main-lh;
	letter-spacing: $main-lsp;
	margin-bottom: 20px;

	text-transform: uppercase;
	color: $primary-white-color;
}

.form__footer {
	border: none;
	width: 570px;
	padding: 0;
	margin: 0;
	background: transparent;

	align-items: center;
	@media screen and (min-width: 1200px) {
   margin-bottom: 70px;
	}

	
	}

.form__footer .flexbox {
	display: flex;
	flex-direction: column;
	 align-items: center;
	  justify-content: center;
	   
	  @media screen and (min-width: 1200px) {
		flex-direction: row;
	align-items: flex-start;
	}
}

.join__links,
.newsletter {
	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}

.footer .flexbox {
	@media screen and (max-width: 767px) {
	margin-left: 20px;
	margin-right: 20px;
}}

	

.email {
	margin-right: 12px;
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	padding: 16px;

	@media screen and (max-width: 767px) {
		max-width: 450px;
		
	}

	transition: border-color $transition-duration $transition-timing-function;

	&:hover,
	&:focus,
	&:not(:placeholder-shown) {
	border-color: $primary-white-color;

	color: $primary-white-color;
}

margin-bottom: 20px;
}

.icon__footer {
	display: inline-block;
	position: absolute;

	top: 50%;
	right: 18px;
	transform: translateY(-50%);
	
	width: 24px;
	height: 24px;

	fill: $primary-white-color;
}
