.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;



	opacity: 1;
	visibility: visible;

	overflow: auto;
	z-index: 2;
	overflow-y: scroll;

	transition: opacity $transition-duration $transition-timing-function;
	background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) scale(1);

	width: 450px;
 	height: 100%;
  	padding: 10px;
	font-size: 12px;
	letter-spacing: 0.01em;
	line-height: $main-lh;

	
	overflow: auto;
	
	max-width: 450px;
	display: relative;

	@media screen and (min-width: 768px) {
		padding: 10px;
	width: 100%;
	max-height: 680px;
	}

	transition: transform $transition-duration $transition-timing-function;
	background: $primary-white-color;

	.backdrop.is-hidden & {
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.1);
}
}

.close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;

	padding: 0;

	border: 0;
	outline: none;
	border-radius: 50%;
	overflow: hidden;
}

.close__icon {
	border: 1px solid rgba(0, 0, 0, 0.1);
	fill: $logo-black-color;
	transition: fill $transition-duration $transition-timing-function;

	.close:hover & {
	fill: $accent-color;
}
}


