.site-nav__link {
	position: relative;
	color: $title-text-color;

	transition: color $transition-duration $transition-timing-function;

	&--current,
	&:focus,
	&:hover {
	color: $accent-color;
}
}

.contact__link {
	font-style: normal;
	display: flex;
	color: $primary-text-color;
	align-items: center;

	transition: color $transition-duration $transition-timing-function;

	&:hover,
	&:focus {
	color: $accent-color;}

	& + & {
	margin-left: 50px;
}
}

.site-nav__link--current::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: $accent-color;
}

.contact__icon {
	margin-right: 10px;
}

.site-nav {
	margin-left: 93px;
}

.site-nav__item:not(:last-child) {
	margin-right: 50px;
}

.contact {
	margin-left: auto;
}